<link rel="stylesheet" href="css/styles.css">
<div class="container">
  <div class="row">
    <section class="col-sm-6">
      <fieldset>
        <legend>Sign Up</legend>
        <form name='signUpForm' novalidate>

          <input type="text" name="firstname" placeholder="First Name" ng-model="signUpCtrl.user.firstname" required minlength="2" ng-maxlength="10">
          <!-- {{ signUpCtrl.user.firstname }} -->
          <span ng-if="(signUpForm.firstname.$error.minlength || signUpForm.firstname.$error.required) && signUpForm.firstname.$touched">
            <div>Firstname must be at least 2 characters long.</div>
          </span>
          <span ng-if="signUpForm.firstname.$error.maxlength && signUpForm.firstname.$touched">
            <div>Firstname must not be longer than 10 characters</div>
          </span>
          <br>

          <input type="text" name="lastname" placeholder="Last Name" ng-model="signUpCtrl.user.lastname" required minlength="2" ng-maxlength="10">
          <!-- {{ signUpCtrl.user.lastname }} -->
          <span ng-if="(signUpForm.lastname.$error.minlength || signUpForm.lastname.$error.required) && signUpForm.lastname.$touched">
            <div>Lastname must be at least 2 characters long.</div>
          </span>
          <span ng-if="signUpForm.firstname.$error.maxlength && signUpForm.firstname.$touched">
            <div>Lastname must not be longer than 10 characters</div>
          </span>
          <br>

          <input type="email" name="email" placeholder="Email" ng-model="signUpCtrl.user.email" required>
          <span ng-if="signUpForm.email.$invalid && signUpForm.email.$touched">
            <div>Must be a valid email address: handle@domain format</div>
          </span>
          <br>

          <input type="text" name="phone" placeholder="Phone ###-###-####" ng-model="signUpCtrl.user.phone" pattern="(\d{3})-(\d{3})-(\d{4})" required>
          <span ng-if="signUpForm.phone.$invalid && signUpForm.phone.$touched">
            <div>Phone must be in the format ###-###-####.</div>
          </span>
          <br>

          <input type="text" name="favoritedish_shortname" placeholder="Favorite Dish" ng-model="signUpCtrl.user.favoritedish_shortname" pattern="(\w{1,2})(\d{1,2})" required>
          <span ng-if="signUpForm.favoritedish_shortname.$invalid && signUpForm.favoritedish_shortname.$touched">
            <div>Menu number of your favorite dish must be in the format like A3 or SP8.</div>
          </span>

          <br>

          <button id='submit' ng-disabled="signUpForm.$invalid" ng-click="signUpCtrl.submit()"
          ui-sref='public.signup.myinfo({itemShortName: signUpCtrl.capitalize(signUpCtrl.user.favoritedish_shortname)})'>
            Submit
          </button>

          <div style="margin-top: 10px;">
            Form valid? {{ signUpForm.$valid }}
          </div>
        </form>
      </fieldset>

      <div id="info" ng-if="signUpCtrl.completed">
        Your information has been saved.
      </div>
    </section>
    <section class="col-sm-6">
      <ui-view></ui-view>
    </section>
  </div>
</div>



<!--
signUpCtrl.addUser(
{{ signUpCtrl.user.firstname}},
{{ signUpCtrl.user.lastname}},
{{ signUpCtrl.user.email}},
{{ signUpCtrl.user.phone }},
{{ signUpCtrl.user.favoritedish_shortname }}) -->
