<div ng-if="signUpCtrl.completed">
  Firstname: {{ signUpCtrl.user.firstname}} <br>
  Lastname: {{ signUpCtrl.user.lastname}} <br>
  Email: {{ signUpCtrl.user.email}} <br>
  Phone: {{ signUpCtrl.user.phone }} <br>
  Favorite Dish: {{ signUpCtrl.user.favoritedish_shortname }} <br>
  <hr>

  <div class="col-sm-5" ng-if="myInfoCtrl.favoriteItem !== 'error'">
    <div class="menu-item-photo">
      <div>{{myInfoCtrl.favoriteItem.short_name}}</div>
      <img class="img-responsive" width="250" height="150" ng-src="{{myInfoCtrl.basePath}}/images/{{myInfoCtrl.favoriteItem.short_name}}.jpg" alt="{{myInfoCtrl.favoriteItem.name}}">
    </div>
    <div class="menu-item-price">{{myInfoCtrl.favoriteItem.price_small | currency}}<span> {{myInfoCtrl.favoriteItem.small_portion_name}}</span> {{myInfoCtrl.favoriteItem.price_large | currency}} <span>{{myInfoCtrl.favoriteItem.large_portion_name}}</span></div>
  </div>
  <div class="menu-item-description col-sm-7" ng-if="myInfoCtrl.favoriteItem !== 'error'">
    <h3 class="menu-item-title">{{myInfoCtrl.favoriteItem.name}}</h3>
    <p class="menu-item-details">{{myInfoCtrl.favoriteItem.description}}</p>
  </div>
  <div ng-if="myInfoCtrl.favoriteItem == 'error'">
    No such menu number exists!
  </div>

</div>
